/* CSS VARIABLES */
:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: ##31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --white: #ffffff;
    --dairy: #fcfcfc;
}

:root {
    --white: #ffffff;
    --grey: #2e2f42;
    --light-grey: #434455;
    --light-blue: #4d5ae5;
    --light-blue-focus: #404bbf;
    --dirty-white: #f4f4fd;
}

a {
    text-decoration: none;}

li {
    list-style: none;}

* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body{
color: var(--slate);
background-color:var(--white);
font-family:"Roboto",sans-serif;
}
/* GENERAL STYLES */
.logo-style {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.inside-logo {
    color: #2e2f42;
}

.link {
    text-decoration: none;
}

.address-style {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contact-info {
    font-style: normal;
}

.header-logo-studio {
    color: var(--grey);
}

.list {
    list-style: none;
    display: flex;
    gap: 24px;
}

nav li a:first-child {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--grey);
}

nav li a:first-child:hover,
nav li a:first-child:focus {
    color: var(--light-blue-focus);
}

/* .link {
    text-decoration: none;
} */

.address {
    font-style: normal;
}

.address a {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-grey);
}

.address a:hover,
.address a:focus {
    color: var(--light-blue-focus);
}
/******** checking header *********/
.header {
    border-bottom: 1px solid var(--cornflower, #e7e9fc);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16), 
            0px 1px 6px rgba(46, 47, 66, 0.08);
    padding: 24px 0;
        }


.div-container-header{
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between;
    /* border-bottom: 1px solid #e7e9fc;   */
    }

.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-nav{
    align-items:center;
    display: flex;
}

.logo-link{
    margin-right: 76px;
}

.menu-list{
    display: flex;
    gap: 40px;
    margin-right: 76px;
}

.link-class{
    padding: 24px 0;
    display: flex;
    gap: 40px;
}

.header-ul-list{
    display: flex;
    gap: 40px;
}

.address-list {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-list:hover {
    color: #404bbf;
}

.address-list:focus {
    color: #404bbf;
}

.address-list {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
/******** firts section *********/
.firts-section {
    background-color: #2e2f42;
    padding: 188px 0;
/** HW4 **/
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
     rgba(46, 47, 66, 0.7)),
    url(../images/hero-img.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: cover;
    max-width: 1440px;
}

.firts-header{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px; 
    margin: 0 auto;
    margin-bottom: 48px;
}

/* .first-section-button {
    background-color:#4D5AE5;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: var(--iris);
    border-radius: 4px;
}

.first-section-button {
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
} */

.first-section-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    display: block center;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.first-section-button:hover,
.first-section-button:focus {
    background-color: #404BBF
}
/******** second section *********/
.section-two-list-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.section-two-list {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--#434455);
}

.section-two-list{
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.second-section{
    padding: 120px 0; 
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* HW4 */
.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: var(--cloud);
    border-radius: 4px;
    margin-bottom: 8px;
}

/******** third section list *********/
.third-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.second-section {
    padding-bottom: 120px;
}

.third-class-list {
    margin-bottom: 72px;
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
}

.third-list {
    flex-basis: calc((100% - 48px) / 3);
}
/******** fourth section *********/
.fourth-section {
    background-color: #F4F4FD;
}

.section-four-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--grey);
    border-radius: (0px 0px 4px 4px);
    margin-bottom: 72px;
}

.section-class-list{
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
}

.section-four-list {
        background-color: #FFFFFF;
        border-radius: 0px 0px 4px 4px;
        flex-basis: calc((100% - 3 * 24px) / 4);
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }

.section-four-div {
    padding: 32px 0;
}


.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.section-four-list-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--grey);
    text-align: center;
    margin-bottom: 8px;
}

.section-four {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-grey);
    text-align: center;
}

/* HW4 */
/* fourth section */
.socmed-info {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.socmed-link {
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* hw5 */
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socmed-link:hover,
.socmed-link:focus {
    background-color: var(--ocean);
}

.socmed-icon {
    fill: var(--cloud);
}

.socmed-items {
    width: 40px;
    height: 40px;
}

/* HW4 */
/* Fifth Section */

.fifth-section {
    padding: 120px 0;
}

.H4-container{
    display: flex;
    align-items: baseline;  
}

.customer {
    display: flex;
    gap: 24px;
}

.customer-list {
    width: calc((100% - 120px) / 6);
    height: 88px;
}

.customer-link {
    width: 100%;
    height: 100%;
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-slate);
    /* h5 */
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover,
.customer-link:focus {
    border-color: var(--ocean);
    color: var(--ocean);
}

.customer-icon {
    fill: currentColor;
}

/* .line291 {
    margin-bottom: 72px;
} */
/******** footer *********/

.footer {
    background-color: var(--navy-blue);
    padding: 100px 0;
}

.inside-logo {
    color: #f4f4fd;
}

.footer-paragraph {
    line-height: 1.5;
    color: var(--cloud);
    letter-spacing: 0.02em;
    max-width: 264px;
    margin-bottom: 16x;
}

.footer-link{
    display: inline-block;
    margin-bottom: 16px;
}

/* hw4 footer socmed */

.footer>.container {
    display: flex;
    align-items: baseline;
}

.wrapper {
    margin-right: 120px;
}

.footer-socmed-header {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
    margin-bottom: 16px;
}

.footer-socmed {
    display: flex;
    gap: 16px;
}

.footer-socmed-icon {
    width: 40px;
    height: 40px;
}

.footer-socmed-link {
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socmed-link:hover,
.footer-socmed-link:focus {
    background-color: #31d0aa;
}

.footer-socmed-svg {
    fill: var(--cloud);
}

/**** portfolio ****/

.header-class{
    border-bottom: 1px solid #e7e9fc;
    padding: 24px 0;
}

.ul-list {
    width: 1158;
    margin: 0 auto;
    padding: 0 15px;
}

.portfolio-nav {
    display: flex;
    align-items: center;
}

.portfolio-ul {
    display: flex;
    gap: 40px;
}






/**** portfolio main ****/

.portfolio-section {
    padding: 96px 0 120px 0;
}

.link-style{
    padding: 24px 0;
    gap: 40px;

}

.main-btn {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.btn {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

/* .btn-list{
    gap: 40px;
} */

.list-gap{
    display: flex;
    gap: 40px;
}

.portfolio-list{
    width: calc((100% - 48px) / 3);
}

.portfolio-div{
    padding: 32px 16px;
    border: 1px solid var(--cornflower);
    border-top: none;
}

.logo-class {
    margin-right: 76px;
    gap: 40px;
}


.portfolio-body{
    font-family: "Roboto", sans-serif;
    color: var(--slate);
}

.portfolio-logo{
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-size:18px;
    line-height:1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    text-decoration: none;
}

.header-logo-studio {
    color: var(--navy-blue);
}

.portfolio-list-one{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    text-decoration: none;
}

.portfolio-list-one:hover ,
.portfolio-list-two{
    color: #404bbf;
}

.portfolio-list-one:focus
.portfolio-list-two{
    color: #404bbf;
}

.portfolio-list-two{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    text-decoration: none; 
}

.profile-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--light-blue);
    background-color: var(--dirty-white);
    padding: 12px 24px;
    border: 1px solid var(--cornflower);
    border-radius: 4px;
    /* hw5 */
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.profile-button:hover,
.profile-button:focus {
    color: var(--white);
    background-color: var(--light-blue-focus);
    cursor: pointer;
    border: 1px solid transparent;
/* HW4 */
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);

}

.service {
    display: block;
}

.service:hover,
.service:focus {
    box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}


.service-description {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--grey);
    margin-bottom: 8px;
}

.service-type {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-grey);
}

.footer-logo-studio{
    color:#f4f4fd;
}

/* HW5 */
.active.link {
    color: #404bbf;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    border-radius: 2px;
    width: 100%;
    background-color: #404bbf;
    margin-bottom: -2px;
}

/* portfolio fix not part of hw5 */
.nav-link-list {
    font-weight: 500;
    font-size: 16px;
    color: var(--grey);
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0 24px;
}

.nav-link-list:hover {
    color: #404bbf;
}

.nav-link-list:focus {
    color: #404bbf;
}

/* .contacts-style {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* portfolio fix not part of hw5 */
.portfolio-list-images {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.description {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact > .link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.mod-button-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mod-button-close:hover,
.mod-button-close:focus {
    background-color: #404bbf;
    border: none;
}

.mod-button-close-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mod-button-close:hover,
.mod-button-close:focus {
    fill: #ffffff;
}

.service {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.service:hover .description,
.service:focus .description {
    transform: translateY(0%);
}

.card-image {
    position: relative;
    overflow: hidden;
}

/* HW6 */
.p-form {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.p-form {
    display: flex;
    gap: 24px;
}

.label-form {
    gap: 24px;
}

.input-form {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #FFFFFF;
}

.E-mail {
    color: #FFFFFF;
}

 .hw-footer-subscribe {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;

}

.footer-svgsubscribe {
    margin-left: 16px;
}

/* hw6 modal window */
.hw-modal-window {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 16px;
}

.div-modal {
        margin-bottom: 8px;
    }

    .label-modal{
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: var(--light-slate);
        display: block;
        margin-bottom: 4px;
}

.comment-modal {
    margin-bottom: 16px;
}

.div-label{
    position: relative;
}


.checkbox {
    margin-bottom: 24px;
}

.input-modal {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:focus {
    border-color: #4D5AE5;
}

.form-svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-svg:focus {
    fill: #4D5AE5;
}

.input-modal:focus+.form-svg,
.input-modal:hover+.form-svg {
    fill: var(--iris);
}

  .form-button {
      display: block;
      min-width: 169px;
      height: 56px;
      padding: 16px 32px;
      border-radius: 4px;
      background: var(--IRIS, #4D5AE5);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
      border: none;
      color: var(--WHITE, #FFF);
      text-align: center;
      margin: 0 auto;
      /* Button Text */
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      /* 150% */
      letter-spacing: 0.64px;
      cursor: pointer;
      transition-property: background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .textarea-class {
      width: 100%;
      height: 120px;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
      color: rgba(46, 47, 66, 0.4);
      border: 1px solid rgba(46, 47, 66, 0.4);
      border-radius: 4px;
      background-color: transparent;
      padding: 8px 16px;
      outline: transparent;
      resize: none;
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .textarea-class:focus {
      border-color: #4D5AE5;
  }

.span-terms {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

  .label-terms {
      display: block;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
      color: var(--light-slate);
  }

  .input-checkbox:checked+.label-terms>.span-terms {
      background-color: var(--ocean);
      border: none;
      fill: var(--cloud);
  }

        .PrivacyPolicy {
            color: var(--iris);
        }
    
    .f-form {
    display: flex;
    gap: 24px;
    }